/.benchmarks/
/.pytest_cache/
/build/
/external/arrayfire
/external/vcpkg
/cmake/_mac_af.pkg
/cmake-build-debug
/.idea
/.mypy_cache
/pkg
/dist
/venv
/out
/log
/doc/build
/doc/_build
/doc/reference/generated
/doc/html
/doc/plot_directive/
/raw.githubusercontent.com/
/modules/shapelets_compute.egg-info
/modules/shapelets/compute/*.so
/modules/shapelets/compute/*.dll
/modules/shapelets/compute/*.pyd
/modules/shapelets/compute/.libs
/modules/shapelets/log
/modules/shapelets/worker/proto/worker_pb2*
__pycache__
cmake/opt
.DS_Store
cmake/_linux_af.sh
.downloads
.pypirc
.tox
.python-version
.vscode