/.benchmarks/
/.pytest_cache/
/build/
/external/
/cmake/_mac_af.pkg
/.idea
/cmake-build-debug
/pkg
/dist
/modules/shapelets.egg-info
/modules/shapelets/compute/*.so
/.mypy_cache
__pycache__
/out
cmake/opt
.DS_Store
cmake/_linux_af.sh
.downloads