{
  "version": 1,
  "disable_existing_loggers": true,
  "formatters": {
    "verbose": {
      "class" : "shapelets.worker.logger.WorkerFormatter",
      "format": "%(asctime)s [%(name)s][%%backend%%] (%(levelname)s): %(message)s"
    },
    "simple": {
      "format": "%(levelname)s %(message)s"
    }
  },
  "handlers": {
    "file": {
      "level": "DEBUG",
      "class": "logging.handlers.RotatingFileHandler",
      "formatter": "verbose",
      "filename": "log/worker-python.log",
      "backupCount": 3,
      "maxBytes": 5000000
    },
    "console": {
      "level": "DEBUG",
      "class": "logging.StreamHandler",
      "formatter": "verbose",
      "stream": "ext://sys.stdout"
    }
  },
  "loggers": {
    "io.shapelets.worker": {
      "handlers": [
        "file", "console"
      ],
      "level": "DEBUG"
    }
  }
}
